#reset-game, #jumble-header,
#messages, #make-guess,
#show-jumble {
  display: flex;
  justify-content: center;
}

#player-instructions, #get-word, #definition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#messages {
  color: red;
}

#definition p {
  text-align: center;
}
