
body{

  font-family: 'Roboto', sans-serif !important;
  font-weight:300 !important;
  letter-spacing: -.02em !important;
  /*background-color:#ebebeb !important;*/
  padding: 0px !important;
  margin: 0px !important;
  font-size:1.5rem !important;
  background-image: url("../images/words.jpg");
}

h1{
  color: black;
  text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
}

.main {
  padding: 30px;
}


button{

  background-color: rgb(68,68,68) !important;
  border-radius: 10px !important;
  box-shadow: 0px 1px 3px rgba(0,0,0,.2) !important;
  color:#ffffff;
  letter-spacing: .04rem;
  width: 100%;
  display: block;
  padding: 20px;
  font-size: 1.5rem !important;
  font-weight: 100;
  margin-top: 10px !important;
}

button:hover{
  opacity:.8;
  cursor: pointer;
}


#reset-game, #jumble-header,
 #show-jumble {
  display: flex;
  justify-content: center;
}

#player-instructions,
#definition, #messages, #make-guess{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#get-word-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#word-length {
  margin-top: 10px;
  border: 1px black solid;
}

#errors {
  color: red;
}

#definition p {
  text-align: center;
  padding: 5px;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes font-size-move{
  from {transform: scale(.75);}
  to {transform: scale(2);}
}

.happyWinAnimation {
  animation: font-size-move 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

input{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0,0,0,.0);
  border: 0px;
  font-size: 2rem;
  display: block;
  padding: 10px;
  width: 100%;
}

h2, p, h4{
  text-align: center;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#messages {
  background-color: #ffffff;
  border-radius: 10px;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 10px
}

#definition h4{
  margin-top: 15px;
  margin-bottom: 5px;
}

#get-word h4 {
  margin-bottom: -5px;
}

#how-to-play {
  padding: 3px;
}

#jumble-header h1 {
  margin: 0px;
}

#getWordButton {
  padding: 15px;
}

#player-instructions ul, #definition p, #guess-list {
  background-color: white;
  border-radius: 10px;
}

#guess-list, #player-instructions ul{
  padding: 5px;
}

#player-instructions ul{
  padding-left: 30px;
}

#guess {
  padding-left: 20px;
  padding-right: 20px;
}

#get-word {
  background-color: white;
  border-radius: 10px;
}

#show-jumble h4 {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}



