#reset-game, #jumble-header,
 #show-jumble {
  display: flex;
  justify-content: center;
}

#player-instructions, #get-word, #definition,#messages,#make-guess{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#errors {
  color: red;
}

#definition p {
  text-align: center;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@keyframes font-size-move{
  from {transform: scale(.75);}
  to {transform: scale(2);}
}

.happyWinAnimation {
  animation: font-size-move 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

